
:root {
    --background-color: rgb(55, 57, 68);
    --text-color: rgb(115, 117, 124);
  }
  
  [theme="light"] {
    --background-color: #fff;
    --text-color: #2a6183;
  }
  
  body {
      background-color: var(--background-color);
      color: var(--text-color);
      /* background-color: rgb(55, 57, 68); */
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content:space-evenly;
      min-height: 100vh;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
  #container { 
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center; 
      width: 100%;
      color:rgb(115, 117, 124);
  }
  
  #calcBody{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center; 
      width: 350px;
      height: 400px;
      border-radius: 5px;
      background-color: black;
      box-shadow: 5px 5px 5px #1e2324;
  }
  
  #top {
      height: 15%;
      margin-bottom: 12px;
      text-align: right;
      padding: 4px;
  }
  
  #toggle {
      /* color: #8dd4e2; */
      display: flex;
      flex-direction: row;
      height: 12px;
      width: 28px;
      padding-bottom: 8px;
      padding-left: 8px;
      box-sizing: border-box;
      margin: 4px auto 6px 6px;
      border: 1px solid #8dd4e2;
      border-radius: 10%;
      background: linear-gradient(
        to right, 
        #8dd4e2 0%, 
        #8dd4e2 50%, 
        #1e2324 50%,
        #1e2324 100%
        );
      opacity: 50%;
  }
  
  #toggle:hover {
     opacity: 80%;
  }
  
  #toggle:active {
    box-shadow: 0 1px #4cbce1;
    border: 1px solid #4cbce1;
    transform: translateY(1px);  
  }
  
  #display {
      box-sizing: border-box;
      height: 85%;
      margin: 4px;
      font-size: 34px;
      border: 1px solid rgb(115, 117, 124);
      padding: 6px;
      border-radius: 5px;
      background-color: rgb(115, 117, 124);
      color: #8dd4e2;
  }
  
  
  #bottom {
      height: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  #row1, #row2, #row3, #row4, #row5 {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;
  }
  
  #row1 {
    margin-top: 4px;
  }
  
  #row5 {
    margin-bottom: 10px;
  }
  
  .button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 40px;
      box-sizing: border-box;
      margin: 4px;
      border: 1px solid #8dd4e2;
      font-size: 24px;
      border-radius: 50%;
      color: #8dd4e2; 
      box-shadow: 5px 5px 5px -5px #8dd4e2;
  }
  
  .button:hover {
      border-color: #4cbce1;
      color: #4cbce1;
  }
  
  .button:active {
    box-shadow: 0 2px #4cbce1;
    border: 1.5px solid #4cbce1;
    transform: translateY(2px);  
  }